.footer {
  background: $secondary-color;

  &__top {
    padding: 30px 23px 31px;
    border-bottom: 1px solid #5f5fc4;
  }

  &__logo {
    text-align: center;
    margin-bottom: 20px;
    img {
      width: 135px;
      height: auto;
    }
  }

  &__navigation {
    text-align: center;
    color: #fff;

    li {
      margin-bottom: 13px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  &__navigation-item {
    a {
      color: #fff;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__bottom {
    padding: 30px 0;
  }

  &__details {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;

    .p1 {
      margin-bottom: 19px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}


.socials {
  margin-bottom: 19px;

  &__list {
    display: flex;
    justify-content: center;
  }
  &__icon {
    width: 26px;
    height: 26px;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__icon-fb {
    background: url("./assets/icons/facebook.svg") no-repeat center top / cover;
  }

  &__icon-in {
    background: url("./assets/icons/linkedin.svg") no-repeat center top / cover;
  }

  &__icon-inst {
    background: url("./assets/icons/instagram.svg") no-repeat center top / cover;
  }

  &__icon-tw {
    background: url("./assets/icons/twitter.svg") no-repeat center top / cover;
  }

  &__icon-pin {
    background: url("./assets/icons/pinterest.svg") no-repeat center top / cover;
  }
}

.copyright {
  color: #fff;
  text-align: center;
}
