.container {
  padding: 69px 16px 72px 16px;
  max-width: 1170px;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;

  @media (min-width: $tablet-min-width) {
    padding: 120px 25px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 140px 47px;
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
