/*-------BANNER SECTION---------*/

.banner {
  background: url("./assets/imgs/bg-1.jpg") no-repeat center top / cover;
  text-align: center;
  background-position: 30%;

  .container {
    padding-top: 66px;
  }

  @media (min-width: $tablet-min-width) {
    text-align: left;
  }
}

.heading {
  color: #fff;

  &__title {
    margin-bottom: 11px;
  }

  &__desc {
    margin-bottom: 39px;
  }

  &__desc-small {
    display: inline-block;
  }

  &__desc-large {
    display: none;
  }

  @media (min-width: $tablet-min-width) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 55%;

    &__title {
      margin-bottom: 30px;
    }

    &__desc-small {
      display: none;
    }

    &__desc-large {
      display: inline-block;
      font-size: 18px;
    }
  }

  @media (min-width: $desktop-min-width) {
    &__desc-large {
      width: 85%;
      font-size: 20px;
    }
  }
}

/*-------ABOUT SECTION---------*/

.man-mobile {
  text-align: center;
  margin-bottom: 24px;
  img {
    width: 220px;
    height: auto;
    display: inline-block;
  }

  @media (min-width: $tablet-min-width) {
    margin-right: 30px;
  }

  @media (min-width: $desktop-min-width) {
    img {
      width: 290px;
    }
  }
}

//----TEXT----
.about {
  text-align: center;

  .container {
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 26px;
  }

  &__title-small {
    margin-bottom: 14px;
  }

  &__text-block {
    margin-bottom: 15px;
  }

  &__text-block div{
    margin-bottom: 22px;
    color: $text-color;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-min-width) {
    text-align: left;

    &__title {
      margin-bottom: 50px;
      flex: 0 0 100%;
      text-align: center;
    }

    &__content {
      flex-direction: row;
    }
  }
}

/*-------RELATIONSHIPS SECTION---------*/

.relationships {
  text-align: center;
  &__title {
    margin-bottom: 34px;
  }

  .container {
    padding-bottom: 69px;
  }

  @media (min-width: $tablet-min-width) {
    text-align: left;
    &__title {
      flex: 0 0 100%;
      box-sizing: border-box;
      text-align: center;
      margin-bottom: 60px;
      padding: 0 90px;
    }
  }

  @media (min-width: $desktop-min-width) {
    &__title {
      padding: 0 180px;
    }
  }
}

.skills {
  @media (min-width: $tablet-min-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-min-width) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
  }
}

.skill {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }

  &__desc {
    color: $text-color;
  }

  &__image {
    margin-bottom: 12px;
    img {
      width: 90px;
      height: 99px;
      margin: 0 auto;
    }
  }

  &__heading {
    margin-bottom: 3px;
  }

  @media (min-width: $tablet-min-width) {
    display: flex;
    flex-direction: row;

    &__image {
      padding: 0 35px;
    }

    &__desc {
      width: 460px;
    }
  }

  @media (min-width: $desktop-min-width) {
    display: block;


    &__image {
      margin-bottom: 30px;
      padding: 0;
      img {
        height: 110px;
        width: auto;
        margin: 0;
      }
    }

    &__desc {
      width: 275px;
    }
  }
}

/*-------REQUIREMENTS SECTION---------*/

.requirements {
  background: url("./assets/imgs/bg-2.jpg") no-repeat center top / cover;
  color: #fff;
  .container {
    padding-bottom: 63px;
  }

  &__heading {
    margin-bottom: 25px;
  }

  &__image {
    margin-bottom: 23px;
    img {
      width: 259px;
      height: auto;
      margin: 0 auto;
    }
  }

  &__text {
    .p2 {
      margin-bottom: 23px;
    }

    .p2:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-min-width) {
    &__heading {
      box-sizing: border-box;
      padding: 0 140px;
    }

    &-flex {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__text {
      text-align: left;
      width: 50%;
    }

    &__image img {
      content: url("./assets/imgs/man-laptop-v2.svg");
      width: 345px;
    }
  }

  @media (min-width: $desktop-min-width) {
    &__heading {
      padding: 0;
      margin-bottom: 50px;
    }

    &__image img {
      content: url("./assets/imgs/man-laptop-v1.svg");
      width: 430px;
      height: auto;
    }

    &__text .p2 {
      line-height: 22px;
    }
  }
}

/*-------USERS SECTION---------*/

.users {
  .container {
    padding-bottom: 0;
  }
  &__heading {
    margin-bottom: 13px;
  }

  &__warning {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 25px;

    @media (min-width: $tablet-min-width) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
}

.user {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &__avatar {
    margin-bottom: 13px;
    img {
      @include border-radius(50%);
      width: 70px;
      height: 70px;
      margin: 0 auto;
    }
  }

  &__name {
    margin-bottom: 7px;
  }

  &__desc {
    .p3 {
      margin-bottom: 5px;
      line-height: 1em;
    }

    .p3:last-child {
      margin-bottom: 0;
    }
  }
}

/*-------REGISTRATION SECTION---------*/

.registration {
  &__heading {
    margin-bottom: 10px;
  }

  &__warning {
    line-height: 22px;
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-min-width) {
    &__warning {
      box-sizing: border-box;
      padding: 0 170px;
    }
  }
}
