@include link(#000, #000, $primary-color, $primary-color);

body {
  padding-top: 62px;

  @media (min-width: $desktop-min-width) {
    padding-top: 83px;
  }
}

a {
  @include transition(0.3s);

  &:hover {
    color: $primary-color;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li, a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

